{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inico</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    
</head>
<body>
    <div class ="palabras_imagen">
        <h2>¡Tu envío, en las mejores manos!</h2>
    </div>
    <img src="../../static/img/paquete.jpg" class ="imagen">
    
    
    <div>
        <h1 class="nombre_empresa">Nombre de la empresa</h1>
        <div class="encabezado">
            <form method="post">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <button class="contenedor" type="submit" name="accion" value="logout">cerrar sesion</button>
                {% endif %}
            </form>
            {% csrf_token %}
            {% if not user.is_authenticated %}
            <div class="contenedor">
                <a class ="ingreso" href="{% url 'login' %}" >Ingresar</a>
            </div>
            {% endif %}
            {% if user.rol == 'admin' %}
            <div class="contenedor">
                <a class ="ingreso" href="{% url 'inicio_admin' %}" >inicio admin</a>
            </div>
            {% endif %}
            {% if user.rol == 'conductor' %}
            <div class="contenedor">
                <a class ="ingreso" href="{% url 'inicio_conductor' %}" >inicio conductor</a>
            </div>
            {% endif %}
            {% if user.rol == 'despachador' %}
            <div class="contenedor">
                <a class ="ingreso" href="{% url 'inicio_despachador' %}" >inicio despachador</a>
            </div>
            {% endif %}
            {% if user.rol == 'cliente' %}
            <div class="contenedor">
                <a class ="ingreso" href="{% url 'inicio_cliente' %}" >inicio despachador</a>
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="contenedor3">
        <img src="../../static/img/camion.png" class ="imagenes">
        <img src="../../static/img/candado.png" class ="imagenes">
        <img src="../../static/img/atencion.png" class ="imagenes">
        <img src="../../static/img/apreton_de_manos.png" class ="imagenes">
    </div>
    <div class="contenedor4">
        <h1 class = "salto_de_linea">Porque tu tiempo vale, entregamos más rápido que nunca</h1>
        <h1 class = "salto_de_linea">Seguridad garantizada, desde la recolección hasta la entrega.</h1>
        <h1 class = "salto_de_linea">Atención que te escucha, envíos que responden</h1>
        <h1 class = "salto_de_linea">Compromiso, puntualidad y excelencia en cada trayecto</h1>
    </div>
    <div class="ayuda">
        <h1>Ayuda</h1>
        <h2 class="caja">Conoce la empresa</h2>
        <h2 class="caja">Contanto</h2>
        <h2 class="caja">Código de conducta</h2>
        <h2 class="caja">Politicas</h2>
        <h2 class="caja">Términos y condiciones</h2>
    </div>
</body>
</html>