{% extends "Cliente/navegacion/template_inicial.html" %}


    {% block title %}Inicio{% endblock %}

    {% block subtitle %}
    Inicio
    {% endblock %}
    {% block content %}
        <ul>
            <li>Tabla con notificaciones recientes</li>
            <li>Hora de la notificacion</li>
            <li>Estado del pedido</li>
            <li>Detall del pedido</li>
        </ul>

    <table class = "notificaciones">
        <thead>
        <tr>
            <th>Hora</th>
            <th>paquete</th>
            <th>Estado antiguo</th>
            <th>Estado actual</th>
            <th>Detalle</th>
        </tr>
        </thead>

        <tbody>
        {% for notificacion in notificaciones %}
       <tr>
            <td>{{ notificacion.fecha_envio }}</td>
           <td>{{ notificacion.paquete }}</td>
           <td>{{ notificacion.estado_antiguo }}</td>
           <td>{{ notificacion.estado_nuevo }}</td>
           <td>{{ notificacion.mensaje }}</td>
       </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}