{% extends "Administrador/navegacion/template_inicial.html" %}

{% block title %}
Paquetes
{% endblock %}

{% block content %}
    <h1> Paquetes </h1>
    <h2> Pagina donde tendremos información de los paquetes, tendremos un buscador de paquetes y una tabla</h2>

    <h3> Una tabla nos entregará la siguiente información: </h3>
    <ul>
        <li>ID</li>
        <li>Fecha</li>
        <li>Estado del paquete</li>
        <li>Cliente</li>
        <li>Direccion</li>
        <li>Conductor</li>
        <li>Detalles</li>
    </ul>
    <p> Tendremos un bloque a la izquierda que nos entregará los detalles de cierto pedido</p>
{% endblock %}