{% load static crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("{% static 'img/fondo.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 100vh;
            display: flex; /* Para centrar contenido */
            justify-content: center; /* Centrar horizontalmente */
            align-items: center; /* Centrar verticalmente */
        }
    </style>
    <title>Registro</title>
</head>
<body>
    <div class="container">
        <div class="card mx-auto" style="max-width: 500px;">
            <div class="card-body">
                <h3 class="card-title text-center">Regístrate</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">Registrarse</button>
                </form>
                <div class="d-flex justify-content-center mt-5">
                    <a href="{% url 'login' %}" class="btn btn-success">Regresar al Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
